<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OSRS Item Scraper</title>
  <link rel="stylesheet" href="styles1.6.css">
</head>

<body>

<div id="page-title">
  <h1>OSRS Item Price Scraper</h1>
</div>

<div id="columns-container">

<div class="column">
  <fieldset id="search-box">
    <legend id="search-title">Item Search</legend>
    <input type="text" id="itemDescription" placeholder="e.g. mithril platebody">
    <button onclick="searchItem()" id="search-btn">Search</button>
    <div id="results-error">No results found.</div>
  </fieldset>

  <div class="card-container">

    <%# <div class="card" draggable="true">
      <h2 id="resultName" class="item-description"></h2>
      <p id="resultPrice"></p>
    </div> %>

  </div>


</div>


<div class="column">
  <div id="profit-title-container">
    <h2 id="profit-title">Profit calculator</h2>
  </div>
  <div id="calc-items-container">
    <div class="drop-zone"><span class="drop-text" id="first-calc-item">Drop here</span></div>
    <div class="drop-zone"><span class="drop-text" id="second-calc-item">Drop here</span></div>
    <div class="drop-zone"><span class="drop-text" id="third-calc-item">Drop here</span></div>
    <div class="drop-zone"><span class="drop-text" id="fourth-calc-item">Drop here</span></div>
  </div>
</div>

</div>

  <script>
    var input = document.getElementById("itemDescription");

    input.addEventListener("keypress", function(event) {
      
      if (event.key === "Enter") {
        event.preventDefault();
        document.getElementById("search-btn").click();
      }
    });

    function searchItem() {
      const itemDescription = document.getElementById('itemDescription').value;
      fetch(`/search?itemDescription=${encodeURIComponent(itemDescription)}`)
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            // document.getElementById('resultName').innerText = data.error;
            // document.getElementById('resultPrice').innerText = "";
            document.getElementById("results-error").style.display = "block";
          } else {
            document.getElementById("results-error").style.display = "none";

            const cardContainer = document.querySelector(".card-container");
        
            const newCard = document.createElement("div");

            newCard.classList.add("card");
            newCard.setAttribute("draggable", "true");
            newCard.id = `card-${Math.random().toString(36).substr(2, 9)}`;

            const itemName = document.createElement("h2");
            itemName.classList.add("item-description");
            itemName.textContent = data.item_name;
            newCard.appendChild(itemName);

            const itemPrice = document.createElement("p");
            itemPrice.textContent = `Price: ${data.price}`;
            newCard.appendChild(itemPrice);

            cardContainer.appendChild(newCard);

            newCard.addEventListener("dragstart", handleDragStart);

            document.getElementById("itemDescription").value = "";
         }
    });
}





    // const card = document.querySelector(".card");
    // const dropZone = document.querySelector(".drop-zone")
    // const dropText = document.querySelector(".drop-text")

function handleDragStart(event) {
  event.dataTransfer.setData("text/plain", event.target.id); // Store card ID
  event.dataTransfer.effectAllowed = "move";
}

function handleDragOver(event) {
  event.preventDefault();
  event.dataTransfer.dropEffect = "move";
}

function handleDrop(event) {
  event.preventDefault();
  const cardId = event.dataTransfer.getData("text/plain");
  const cardElement = document.getElementById(cardId);

  if (cardElement && event.target.classList.contains("drop-zone")) {
    event.target.innerHTML = ''; 
    event.target.appendChild(cardElement);
  }
}


document.querySelectorAll(".drop-zone").forEach(dropZone => {
  dropZone.addEventListener("dragover", handleDragOver);
  dropZone.addEventListener("drop", handleDrop);
});
</script>

</body>
</html>